.icon-48-__test_category7089s {
      background-image: url(../images/l___test_category7089s.png);
      padding-left:60px!important;
}

.icon-48-__test_category7089 {
      background-image: url(../images/l___test_category7089s.png);
      padding-left:60px!important;
}

